.waiting-container {
    background: rgba(0, 0, 0, 0.339);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1010;
    top: 0;
    left: 0;
}

.my-waiting img {
    width: 60px;
    height: auto;
    animation: loading-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.my-waiting {
    background: white;
    width: max-content;
    padding: 10px;
    margin-top: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loading_parent {
    background: rgb(168, 168, 168);
    width: 100px;
    height: 7px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.loading_child {
    background: black;
    width: 30%;
    height: 100%;
    border-radius: 8px;
    animation: loading-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    position: relative;
    left: 0;
}

/* @keyframes loading-animation {
    0% { transform: translateX(-50%) rotate(0deg)}
    100% { transform: translateX(-50%) rotate(360deg)}
} */

@keyframes loading-animation {
    0% { left: 0; width: 30%; }
    25% { left: 0; width: 100%; }
    50% { left: 70%; width: 30%; }
    75% { left: 0; width: 100%; }
    100% { left: 0; width: 30%; }
}